# Rename to secrets.properties and fill in your keystore passwords
# Generate keystore first: ./keystore/generate-keystore.sh

KEYSTORE_PATH=../keystore/hermes-release.jks
KEYSTORE_PASSWORD=hermes-android-release
KEY_ALIAS=hermes-release
KEY_PASSWORD=hermes-android-release
